<div class="row" style="margin-top:50px;">
  <div class="col-12">
    <form [formGroup]="recipeForm" (ngSubmit)="editMode ? onUpdateRecipe() : onAddRecipe()">
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="name" class="font-weight-bold">Name</label>
            <input 
              type="text" 
              id="name"
              formControlName="name"
              class="form-control"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="imagePath" class="font-weight-bold">Image URL</label>
            <input 
              type="text" 
              id="imagePath"
              formControlName="imagePath"
              class="form-control"
              #imagePath
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <img [src]="imagePath.value" class="img-fluid">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="description" class="font-weight-bold">Description</label>
            <textarea
              type="text" 
              id="description"
              formControlName="description"
              class="form-control"
              rows="6"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12" formArrayName="ingredients">
          <div 
            class="row" 
            *ngFor="let ingredientCtrl of controls; let i = index"
            [formGroupName]="i"
            style="margin-top:10px;"
          >
            <div class="col-7">
              <input 
              type="text"
              formControlName="name"
              class="form-control"
              />
            </div>
            <div class="col-3">
              <input 
              type="number"
              formControlName="amount"
              class="form-control"
              />
            </div>
            <div class="col-2">
              <button type="button" class="btn btn-danger" style="width:70%;position:absolute;" (click)="onDeleteIngredient(i)">X</button>
            </div>
          </div>
          <br />
          <div class="row" style="margin-top:10px;">
            <div class="col-12 d-flex justify-content-between">
              <button type="button" class="btn btn-success" (click)="onAddIngredient()">Add Ingredient</button>
              <div>
                <button [disabled]="!recipeForm.valid" type="submit" class="btn btn-success" style="width:100px;">
                  Save
                </button>
                <button type="button" class="btn btn-danger" (click)="onCancel()" style="margin-left:20px;">
                  Cancel
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>